<ion-view view-title="All Cases">
	<div class="bar bar-subheader bar-stable">
	 	<div class="button-bar">
		  <a class="button activated">Order by Date</a>
		  <a class="button">Order by Status</a>
		</div>
	</div>
  <ion-content class="has-subheader button-fixed-footer">
    <ion-list>
    <div class="item item-body">
    	<p>Hier siehst du alle Cases aus deiner Operation-Area, wenn du nur deine Cases sehen möchtest schaue im <strong>Menu</strong> unter <strong>My active Cases</strong>.</p>
    </div>

   
        <ion-item ng-repeat="case in cases" class="{{case.boat_status}} item item-complex case_menu" href="#/app/cases/{{case.id}}">
          {{case.id}} &middot; 
          <strong>{{case.boat_status}}</strong> &middot;  
          {{case.created_at}}
        </ion-item>
    </ion-list>
  </ion-content>
    <a class="button button-full button-fixed-footer  icon-right ion-chevron-right button-positive"  href="#/app/case/create"><i class="ion-plus-circled"></i> Add Case</a>

</ion-view>
