<ion-view view-title="Case">
  <ion-content ng-controller="CaseCtrl">
    <h1>Case</h1>
    {{case.id}}
    {{case.boat_status}}



      <form name="myForm" ng-controller="CaseCtrl" ng-submit="updateCase()" class="my-form">
          <fieldset>
      <input name="input" ng-model="case.lastLocation.lat">

          <!-- Form Name -->
          <legend class="text-center">Case Information</legend>

          <!-- Text input class="form-control"-->
          <div class="row">
            <div class="form-group col-2">
              <label class="control-label" for="boat_status">Status</label>  
              <select class="form-control" name="boat_status" id="boat_status" ng-model="case.boat_status">
                  <option value="distress">distress</option>
                  <option value="rescue_in_progress">rescue in progress</option>
                  <option value="rescued">rescued</option>
                  <option value="on_land">on land</option>
                </select class="form-control">
            </div>

            <div class="form-group col-2">
              <label class="control-label" for="boat_condition">Condition</label>    
                <select class="form-control" name="boat_condition" id="boat_condition" ng-model="case.boat_condition">
                  <option value="unknown">unknown</option>
                  <option value="good">good</option>
                  <option value="bad">bad</option>
                  <option value="sinking">sinking</option>
                  <option value="people_in_water">people in water</option>
                </select class="form-control"> 
            </div>
          </div>


          <div class="row">
            <div class="form-group col-2">
              {{case.boat_type}}
            </div>
          </div>


          <div class="row">
            <div class="form-group col-2">
              <label class="control-label" for="passenger_count">How many people ?</label>  
                  <input class="form-control" type="text" name="anzahl" id="passenger_count" />
            </div>

            <div class="form-group col-2">
              <label class="control-label" for="zusatz">Additional informations</label>  
              <input class="form-control" type="text" name="additional_information" id="additional_information" value="" />
            </div>
          </div>


          <div class="row">
            <div class="form-group col-1">
              <label class="control-label" for="distance">Spotting distance in km</label>  
                <input class="form-control" type="text" class="wmfg_text" name="distance" id="spotting_distance" ng-model="case.spotting_distance" />
            </div>
          </div>


          <div class="row">
            <div class="form-group col-1">
              <label class="control-label" for="degree">Spotting direction in degree</label>
              <!--<div id="jog_dial_two" style="margin-top: 150px; margin-bottom:150px; margin-left: 150px;float: left; clear: left; position: relative;"></div>
              <p id="jog_dial_two_meter" style="float:left;"></p>-->
              <input type="text" id="spotting_direction" />
            </div>
          </div>
      <div class="row">
        <div class="form-group col-1">
          <label class="control-label"></label>  
           
            <button class="button button-full button-positive" type="submit">
              Update Case
            </button>
            <a href="index.html" class="btn btn-gray">Abbrechen</a>
        </div>
      </div>
    </fieldset>
    </form>

  </ion-content>
</ion-view>
