<ion-view view-title="Case Informations" ng-controller="CaseCtrl">
<div class="bar bar-subheader {{case.boat_status}} bar-dark">
  <h2 class="title" style="text-align:left; margin-left:16px;">Case &middot; {{case.id}} &middot; {{case.boat_status}}</h2>   <a href="#/app/cases/chat/{{case.id}}" class="button button-clear">{{case.count_messages}} Messages <i style="margin-left:7px;" class="icon ion-chatbubble"></i></a> 
</div>


  <ion-content class="has-subheader"> 
    <div class="list">
      <div class="item item-body">
        <h2>Position-Data</h2>
        <p>You can appreciate these values. Improve and keep up to date. </p>
      </div>
      <form name="updateCasePosition" ng-submit="updateCaseLocation()" class="my-form">

        <label class="item item-input item-floating-label">
          <span class="input-label">Latitude</span>
          <input type="text" placeholder="Latitude" name="lat" ng-model="case.lastLocation.lat">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Longitude</span>
          <input type="text" name="lon" placeholder="Longitude" ng-model="case.lastLocation.lon">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-code-working"></i> Spotting distance &middot; km</span>
          <input type="text" placeholder="Spotting distance &middot; km" name="spotting_distance" id="spotting_distance" ng-model="case.spotting_distance">
        </label>

        <label class="item  item-input item-floating-label">
          <span class="input-label"><i class="icon ion-compass"></i> Spotting direction &middot; degree</span>
          <input type="text" placeholder="potting direction &middot; degree" name="spotting_direction" id="spotting_direction" ng-model="case.spotting_direction">
        </label>
      
      
      <button class="button button-full button-positive" type="submit"> Update Case Position </button>
      
      </form>
    </div>
    
    <div class="list">
      <div class="item item-body">      
        <h2>Details</h2>
        <p>Please be careful, only change this if anything happen.</p>
      </div>

      <form ng-submit="updateCaseDetail()" class="my-form">

              <label class="item item-input item-select">
                <div class="input-label">Status</div>
                <select name="boat_status" id="boat_status" ng-model="case.boat_status">
                  <option value="distress">Distress</option>
                  <option value="rescue_in_progress">Rescue in Progress</option>
                  <option value="rescued">Rescued</option>
                  <option value="on_land">On Land</option>
                </select>
              </label>

              <label class="item item-input item-select">
                <div class="input-label">Condition</div>
                <select name="boat_condition" id="boat_condition" ng-model="case.boat_condition">
                  <option value="unknown">unknown</option>
                  <option value="good">good</option>
                  <option value="bad">bad</option>
                  <option value="sinking">sinking</option>
                  <option value="people_in_water">people in water</option>
                </select> 
              </label>

              <label class="item item-input item-select">
                  <div class="input-label">Boat type</div>
                  <select name="boat_type" id="boat_type" ng-model="case.boat_type">
                    <option value="rubber">rubber</option>
                    <option value="wood">wood</option>
                    <option value="steel">steel</option>
                    <option value="other">other</option>
                  </select>
              </label>
              <div class="item item-toggle">
             Other Organisations Involved?
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="case.case.other_involved">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
          <div class="item item-toggle">
             Engine Working?
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="case.case.engine_working">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
              <label class="item item-input item-floating-label">
                  <span class="input-label">How many people</span>
                  <input type="text" placeholder="How many people" name="passenger_count" id="passenger_count">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Additional Information</span>
                  <input type="text" placeholder="Additional Information" name="additional_information" id="padditional_information">
              </label>
            <button class="button button-full button-positive button-outline" type="submit">
                Update Case Details
            </button>
      </form>     
      </div> 

  </ion-content>
</ion-view>
