<ion-view view-title="Create Case">
  <ion-content ng-controller="CaseCtrl">
      <script>
        angular.module('sw_spotter', [])
      </script>
      <style>
       .my-form {
         transition:all linear 0.5s;
         background: transparent;
       }
       .my-form.ng-invalid {
         background: red;
       }
      </style>
      <form name="myForm" ng-controller="CreateCaseCtr" ng-submit="createCase()" class="my-form">
      <!--<input name="input" ng-model="case.lastLocation.lat">-->

        <div class="list">


          <label class="item item-input item-select">
            <div class="input-label">
              Boat Status
            </div>
            <select name="boat_status" id="boat_status" ng-model="case.boat_status">
                        <option value="distress">distress</option>
                        <option value="rescue_in_progress">rescue in progress</option>
                        <option value="rescued">rescued</option>
                        <option value="on_land">on land</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Boat Condition
            </div>
            <select name="boat_condition" id="boat_condition" ng-model="case.boat_condition">
                        <option value="unknown">unknown</option>
                        <option value="good">good</option>
                        <option value="bad">bad</option>
                        <option value="sinking">sinking</option>
                        <option value="people_in_water">people in water</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Boat Type
            </div>
            <select name="boat_type" id="boat_type" ng-model="case.boat_type">
                        <option value="rubber">rubber</option>
                        <option value="wood">wood</option>
                        <option value="steel">steel</option>
                        <option value="other">other</option>
            </select>
          </label>



          <div class="item item-toggle">
             Other Organisations Involved?
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="case.case.other_involved">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
          <div class="item item-toggle">
             Engine Working?
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="case.case.engine_working">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
          <label class="item item-input">
            <input type="text" placeholder="How many people?" id="passenger_count" ng-model="case.passenger_count">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Additional informations" id="additional_informations" ng-model="case.additional_informations">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Spotting distance in km" name="distance" id="spotting_distance" ng-model="case.spotting_distance">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Spotting direction in degree" id="spotting_direction" >
          </label>

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              Picture of situation:
            </label>
            <button class="button button-small" ng-click="takePicture()"/>Take Picture</button>
          </div>

        </div>
        <input type="submit" class="button button-block button-positive" value="Create Case">
    </form>



  </ion-content>
</ion-view>
