<ion-view view-title="Sea-Watch Spotter App">
  <ion-content class="button-fixed-footer">
            <img class="full-image" src="img/lesvos-start.jpg">

      <div class="list">
      	<div class="item item-body">
        	<h1>Hi Spotter,</h1>
          <h3>before first use, please read:</h3>
       		 <p>Mit der Sea-Watch Spotter App könnt ihr melden das ihr ein Flücht&shy;lings-Boot gesichtet habt und dies an die Search &amp; Rescue-Koordination deines Einsatzgebiets weiterleiten.</p>
       		</div>
          <div class="item item-divider">Ideale Vorraussetzungen</div>
          <div class="item item-body">
           <h3>Bitte einmal durchgehen und mit euren Bedingungen abgleichen.</h3>
           <p>
            1. Stabile Internetverbindung <br />
            2. Aufgeladener Akku und Akkupacks <br />
            2. Mindestens zwei Personen auf einer Position<br />
            3. Fernglas mit eingebauten Kompass<br />
          </p>

         </div>
           
       		<div class="item item-divider">Anleitung</div>
       		<div class="item item-body">
            <p>Wenn ihr die Vorraussetzungen gelesen habt und eure Position eingenommen habt könnt Ihr starten.

       		 <h3>1. Zeig allen das du aktiv bist!</h3>
       		 	<p>Dies machst du über <strong>Menü</strong>, dann <strong>Track Position</strong> aktivieren. Beim ersten Start musst du der App erlauben deine Positon zu übermitteln.</p>
       		</div>
          <div class="item item-body">
           <h3>2. Hinzufügen eines Cases</h3>
            <p>Die Person die das Boot entdeckt (Beobachter) hat, darf es nicht aus dem Auge lassen.</p> 
            <p>Die Personen die Einträgt (App-Nutzer) drückt auf <strong>Add Case</strong>. Der Beobachter beantwortet die Fragen des App-Nutzers. Spielt diese Situation vorher durch, damit ihr die einzelnen Punkte kennt!</p>
            <p>Wenn alles eingetragen ist drückt der App-Nutzer auf <strong>Create Case</strong></p>
          </div>
          <div class="item item-body">
           <h3>3. Offene Cases bearbeiten</h3>
            <p>Falls sich etwas ändert, bspw. die Rettung von einem SAR-Team übernommen wurde oder sich was an der Situation oder Position verändert, kannst du deine offenen Cases bearbeiten. Einfach auf <strong>Menü</strong> > <strong>My acive Cases</strong> dein jeweiligen Case auswählen und die Einstellungen bearbeiten. Falls du mit den Koordinato </p>
          </div>
      	</div>
  </ion-content>
  <a class="button button-full button-fixed-footer  icon-right ion-chevron-right button-positive"  href="#/app/case/create"><i class="ion-plus-circled"></i> Add Case</a>
</ion-view>
