/* Empty. Add your own CSS if you like */
/*margin right 15px*/

@font-face {
    font-family: 'seawatch';
    src: url('../fonts/seawatch.eot');
    src: url('../fonts/seawatch.eot?#iefix') format('embedded-opentype'),
         url('../fonts/seawatch.woff') format('woff'),
         url('../fonts/seawatch.ttf') format('truetype'),
         url('../fonts/seawatch.svg#seawatch') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='swlogo-']:before{
	display: inline-block;
   font-family: 'seawatch';
   font-style: normal;
   font-weight: normal;
   line-height: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.swlogo-app-icon:before{content:'\0073'; font-size:36px; -moz-transform: translateY(12px);
-webkit-transform: translateY(12px);
-o-transform: translateY(12px);
-ms-transform: translateY(12px);
transform: translateY(12px);}

.button-full.button-fixed-footer {
	width:100%;
	position:fixed;
	bottom:0px;
	z-index:9999;
	margin:0px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.scroll-content.button-fixed-footer {margin-bottom:47px;}
#trackLocation {
    margin-right: 15px; 
}

.bar.bar-dark {
	background-color:rgb(55,60,68);
}

.bar.bar-positive {
	background:rgb(0,152,207);
}



.button.button-positive {
	background:rgb(0,152,207);
}

.button.button-positive.active, .button.button-positive.activated {
		background:rgb(0,187,255);
}

.item-body h1, .item-body h2, .item-body h3 {
	color:rgb(0,152,207);
}

.case_menu a:before {
display: inline-block;
font-family: "Ionicons";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
text-rendering: auto;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
	content: "\f3a6"

}

.distress.case_menu.case_menu_side a:before{
  animation: disani linear 1.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: disani linear 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: disani linear 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: disani linear 1.2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: disani linear 1.2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes disani{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-8px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(0px,-4px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes disani{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-8px)  ;
  }
  30% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(0px,-4px)  ;
  }
  60% {
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-2px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes disani {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-8px)  ;
  }
  30% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(0px,-4px)  ;
  }
  60% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-2px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes disani {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  15% {
    -o-transform:  translate(0px,-8px)  ;
  }
  30% {
    -o-transform:  translate(0px,0px)  ;
  }
  45% {
    -o-transform:  translate(0px,-4px)  ;
  }
  60% {
    -o-transform:  translate(0px,0px)  ;
  }
  75% {
    -o-transform:  translate(0px,-3px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes disani {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  15% {
    -ms-transform:  translate(0px,-8px)  ;
  }
  30% {
    -ms-transform:  translate(0px,0px)  ;
  }
  45% {
    -ms-transform:  translate(0px,-4px)  ;
  }
  60% {
    -ms-transform:  translate(0px,0px)  ;
  }
  75% {
    -ms-transform:  translate(0px,-2px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}


.bar.bar-dark.distress {
  background:#fd292c;
}
.bar.bar-dark.rescue_in_progress {
  background:#ff8942;
}
.bar.bar-dark.rescued {
  background:#3fb0fb;
}
.bar.bar-dark.on_land {
  background:#00b493;
}


.case_menu.distress a:before {
	color:#ff4344;
	content: "\f3a7"
}

.case_menu.rescue_in_progress a:before {
	color:#ff8942;
}

.case_menu.rescued a:before {
	color:#3fb0fb;
}


.case_menu.on_land a:before {
	color:#00b493;
}

