

        <article>
            <div class="info_slider">
                <div class="slide active">
                    <img src="img/slider_01.png" alt="Sea-Watch App">
                    <div class="container info_slider__textbox">
                            <h1>Sea-Watch #SafePassage <br />Search &amp; Rescue App</h1>
                            <p>If you are on a vessel which needs to be rescued, you can send an emergency signal and get connected to a SAR-NGO.</p>
                    </div>   
                </div>
                 <div class="slide">
                    <img src="img/slider_02.png" alt="Sea-Watch NGOS">
                    <div class="container info_slider__textbox">
                            <h1>Great NGOs are rescuing to get a safe Passage to the EU</h1>
                            <p>Andis reped eatus none pa duntin corpores illam voluptam hil ea sequodi piscius doluptaecto iur simusdae velliquideri.</p>
                    </div>   
                </div>
                 <div class="slide ">
                    <img src="img/slider_03.png" alt="Sea-Watch App">
                    <div class="container info_slider__textbox">
                            <h1>Um volupide et pratisitas illi quatem eum ut quodis aut </h1>
                            <p>Andis reped eatus none pa duntin corpores illam voluptam hil ea sequodi piscius doluptaecto iur simusdae velliquideri.</p>
                    </div>   
                </div>
                <ul class="info_slider__control">
                    <li class="active"><i class="zmdi zmdi-circle"></i></li>
                    <li><i class="zmdi zmdi-circle-o"></i></li>
                    <li><i class="zmdi zmdi-circle-o"></i></li>
                </ul>
            </div>
        </article>

        <footer>
            <nav>
                <ul class="action_buttons">
                    <li class="info"><a href="index.html"><i class="zmdi zmdi-arrow-left"></i></a></li>
                    <li class="sos"><a href="messenger.html"><span>SOS<small> Call for emergency</small></span></a></li>
                    <li class="settings"><a href="#"><i class="zmdi zmdi-info-outline"></i></a></li>
                </ul>
            </nav>
        </footer>