<header class="status_monitor">
            <div class="container__large">
                <div class="status_monitor__connection connected">
                    Stable Connection
                </div>
                <div class="status_monitor__gps connected">
                    Sent Position 1m ago
                </div>
            </div>
        </header>

        <div class="messenger">
            <div class="messenger__chat container__large">
                
            </div>
            <div class="messenger__form">
                <a class="close_chat" href="app.html"><i class="zmdi zmdi-arrow-left"></i></a>
                <div class="form_inline">
                    <form>
                        <input type="text" aria-label="Schreibe einen Text…"></input>
                        <button type="button">Senden</button>
                    </form>
                </div>
            </div>
        </div>
